
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header h1 {
    margin: 0;
}

header a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: red;
}

.container h1 {
    margin: 0;
    text-align: center;
    color: white;
}

.container h2 {
    margin-top: 30px;
    color:purple;
}


form {
    margin-top: 20px;
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
}

input:hover[type="submit"]{
    color:yellow;
    background-color: red;
}
.container div {
    margin-top: 20px;
    padding: 10px;
    background-color:yellow;
    border-radius: 5px;
}
