body {
    text-align: center;
}
h1 {
    font-size: 32px;
    margin-bottom: 16px;
    color:yellow;
    
  }
  h1 span {
    background-color: red;
    padding: 0 8px;
  }

  b {
    font-weight: bold;
    font-size: 24px;
    color:blue;
  }

  span {
    font-size: 24px;
  }
  

  .btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 24px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
   
  }
  
  .btn:hover {
    background-color: blue;
  }
  