.container {
    margin: 50px auto;
    max-width: 800px;
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  a {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: aliceblue;
    text-decoration: none;
    border-radius: 5px;

  }
  
  a:hover {
    background-color: rgba(241, 141, 2, 0.955);
    color: white;
  }
  
  
 
  