* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}
.row {
    display: flex;
}

.table {
    width: 100%;
    margin-top: 20px;
}

h1 {
    margin: 20px 0;
    text-align: center;
}

.btn {
    border: none;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.btn-blue {
    background: blue;
    color: white;
}

.btn-blue:hover {
    background-color: lightsteelblue;
}


.btn-red {
    background: red;
    color: white;
}


.btn-red:hover {
    background-color: orange;
}

.btn-green {
    background:green;
    color:white;
}

.btn-green:hover {
    background-color: purple;
}



.btn-yellow {
    background: yellow;
    color: white;
}

.btn-yellow:hover {
    background-color: lightskyblue;
}

.mt-2 {
    margin-top: 1.1rem;
}

.mt-4 {
    margin-top: 2rem;
    margin-right: 100px;
}

.name-cell {
    padding-right: 10px;
  }

 .mt-6 {
    padding-right: 150px;
 }


.mt-8 {
    padding-left: 20px;
}

